#Prevent uploading of unecessary supporting files, images generated and spm data
afmdata/**
**/virtualenv/
**/.vscode/
../data/*
**/data/
data/*
data/**
*.spm
**/images/
**.xlsx
**/__pycache__/
**.png
**.pyc
**/ref_regions_imgs/**
**/binary_filtered_imgs/**
