#Prevent uploading of unecessary supporting files, images generated and spm data
afmdata/**
**/virtualenv/
**/.vscode/
../data/*
**/data/
data/*
data/**
*.spm
**/util/mlScripts/__pycache__/
**/images/
**/__pycache__/
**.xlsx